*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.input{
    width:50%;
    height: 100%;
    
    display: flex;
    gap:8px;
    padding-top:50px;
    padding-left: 80px;
}
.nextpage{
    position: absolute;
    width: 500px;
    height:530px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-self: center;
    align-items: center;
    top:100px;
    left:90px;
}
.field{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.field:checked + label{
    z-index: 10;
}
.fieldname{
    height: fit-content;
    width:fit-content;
    
    padding:20px;
    cursor: pointer;
    
}
/* .field:checked + .fieldname{
    border: 5px solid black;
} */
.about-form{
   
    
    line-height: 35px;
    height: 50vh;
    width: 100%;

}
label{
    font-weight: bolder;
}
#name{
    display: block;
}
#email{
    display: block;
}
#address{
    display: block;
}
input{
    background-color: rgb(222, 213, 213);
    width: 150px;
    height: 33px;
    border-radius: 5px;
    border: 1px solid transparent;
    padding-left:10px ;
}
input::placeholder{
    
    text-align: left center;
    color: black;
}
.about-form-details{
    display: flex;
    justify-content: space-around;
}
#phone{
    display: block;
}
#role{
    display: block;
}
#linkedin{
    display: block;
}
#button{
    margin-left: 30px;
    border: none;
}
.button{
    margin-top: 1rem;
    background-color: blue;
    color: white;
    width: 70px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.education-form{
    display: block;

}
.education-form{
 
    line-height: 35px;
    height: 50vh;
    width: 100%;
  
}
.education_classes_details{
    display: flex;
}
.X,.XII{
    display: block;
}
.board,.percentage{
    line-height: 40px;
    margin-left: 25px;
    text-align: left;
}


input::placeholder{
    
    text-align: left center;
    color: black;
}
h4{
    text-align: center;
}
label{
    font-weight: bolder;
}
.skills{
    text-align: center;
    
}
.project_detail{
    line-height: 40px;
}
#name{
    display: block;
}
#description{
    display: block;
}
#github{
    display: block;
}

textarea{
    background-color: rgb(222, 213, 213);
    
    border-radius: 5px;
    border: 1px solid transparent;
}

label{
    font-weight: bolder;
}
.project_detail{
    
    line-height: 35px;
    height: 60vh;
    width: 100%;
  
}
h2{
    text-align: center;
}
.btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.resumw{
    height:80vh;
    width:47%;
    /* background-color: aqua; */
    margin-top: 7%;
}
.aboutres{
    display: flex;
    flex-direction: column;
}
.headabtres{
    padding-left:15px;
}
#namejs{
    font-size: 1.4rem;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#rolejs{
    display: block;
    padding-top: 5px;
    font-size: 1rem;
    color: rgb(24, 110, 110);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.label{
    width:100%;
    height:50px;
    margin-top: 30px;
    background-color: rgb(105, 162, 162);
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: .8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}