.project_detail{
    line-height: 40px;
}
#name{
    display: block;
}
#description{
    display: block;
}
#github{
    display: block;
}

textarea{
    background-color: rgb(222, 213, 213);
    
    border-radius: 5px;
    border: 1px solid transparent;
}

label{
    font-weight: bolder;
}
.project_detail{
    
    line-height: 35px;
    height: 50vh;
    width: 100%;
    display: flex;
    
    box-shadow: 5px 0px 20px 10px grey;
}
h2{
    text-align: center;
}