*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.heading{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width:100vw;
    position: absolute;
    
    font-size: 2rem;
    color: rgb(45, 61, 109);
}

.remaining{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    width:100%;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}
.data{
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.head{
    font-size: 3rem;
    color: rgb(45, 61, 109);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.subhead{
    font-size: 1.5rem;
    color: rgb(92, 172, 173);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about{
    color:rgb(146,200,217);
    text-align: justify;
}
button{
    background-color: rgb(87, 157, 159);
    padding: 15px;
    color: white;
    border-radius: 15px;
    border: 0px;
    transition: .9s;
}
.links{
    margin-left: 10px;
    margin-top: 40px;
    display: flex;
    gap:40px;
    font-size:12px;
}
.image{
    width: 60%;
}
.links img{
    overflow:visible;
    width: 30px;
    height: 30px;
    color: blue;
    display: block;
}
.image img{
    width:600px;
    height: 470px;
    float: right;
    margin-top: 100px;
}
.animations{
    position: absolute;
    width:100%;
    height: 100%;
    z-index: -10;
}
/* .big1{
    left: -300px;
    width:800px;
    height: 1000px;
    z-index: -1;
    border-radius: 33% 67% 100% 0% / 0% 58% 42% 100%  ;
    background-color: rgb(207, 244, 253);
} */

button:hover{
    background-color: rgb(45, 61, 109);
    border: 1px;
}
.heading img{
    width:110px;
    cursor: pointer;
}